In [203]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# Any results you write to the current directory are saved as output.

In [204]:
# open files and set 'id' as an index
train_path = 'train.csv'
test_path = 'test.csv'
train = pd.read_csv(train_path)
test = pd.read_csv(test_path)
train = train.set_index('id')
test = test.set_index('id')
train.head(2)

,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,poster_path,...,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
id,,,,,,,,,,,,,,,,,,,,,
1,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,/tQtWuwvMf0hCc2QR2tkolwl7c3c.jpg,...,2/20/15,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651
2,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0368933,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,/w9Z7A0GHEhIp7etpj0vyKOeU1Wx.jpg,...,8/6/04,113.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435

In [205]:
# check how many columns have null values
# also look at object type
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4398 entries, 3001 to 7398
Data columns (total 21 columns):
belongs_to_collection    877 non-null object
budget                   4398 non-null int64
genres                   4382 non-null object
homepage                 1420 non-null object
imdb_id                  4398 non-null object
original_language        4398 non-null object
original_title           4398 non-null object
overview                 4384 non-null object
popularity               4398 non-null float64
poster_path              4397 non-null object
production_companies     4140 non-null object
production_countries     4296 non-null object
release_date             4397 non-null object
runtime                  4394 non-null float64
spoken_languages         4356 non-null object
status                   4396 non-null object
tagline                  3535 non-null object
title                    4395 non-null object
Keywords                 4005 non-null object
cast                     4385 non-null object
crew                     4376 non-null object
dtypes: float64(2), int64(1), object(18)
memory usage: 755.9+ KB

In [206]:
# let's mainly choose numeric values as out parameters
# convert date to three integers: day, month, year
# fill null values with mean or mode
train_x = train[['budget', 'popularity', 'runtime', 'release_date']]
train_x['runtime'].fillna(value=train_x['runtime'].mean(), inplace=True)
train_x['release_date'] = pd.to_datetime(train_x['release_date'])
train_x['release_y'] = train_x['release_date'].dt.year
train_x['release_m'] = train_x['release_date'].dt.month
train_x['release_d'] = train_x['release_date'].dt.day
train_x.drop(columns=['release_date'], inplace=True)
# feature scaling
train_x = (train_x - train_x.mean()) / train_x.std()
train_x['original_language'] = train['original_language']
train_x['status'] = train['status']
# make all of our values numeral
train_x = pd.get_dummies(train_x)
train_x.fillna(0)
train_x.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3000 entries, 1 to 3000
Data columns (total 44 columns):
budget                  3000 non-null float64
popularity              3000 non-null float64
runtime                 3000 non-null float64
release_y               3000 non-null float64
release_m               3000 non-null float64
release_d               3000 non-null float64
original_language_ar    3000 non-null uint8
original_language_bn    3000 non-null uint8
original_language_cn    3000 non-null uint8
original_language_cs    3000 non-null uint8
original_language_da    3000 non-null uint8
original_language_de    3000 non-null uint8
original_language_el    3000 non-null uint8
original_language_en    3000 non-null uint8
original_language_es    3000 non-null uint8
original_language_fa    3000 non-null uint8
original_language_fi    3000 non-null uint8
original_language_fr    3000 non-null uint8
original_language_he    3000 non-null uint8
original_language_hi    3000 non-null uint8
original_language_hu    3000 non-null uint8
original_language_id    3000 non-null uint8
original_language_it    3000 non-null uint8
original_language_ja    3000 non-null uint8
original_language_ko    3000 non-null uint8
original_language_ml    3000 non-null uint8
original_language_mr    3000 non-null uint8
original_language_nb    3000 non-null uint8
original_language_nl    3000 non-null uint8
original_language_no    3000 non-null uint8
original_language_pl    3000 non-null uint8
original_language_pt    3000 non-null uint8
original_language_ro    3000 non-null uint8
original_language_ru    3000 non-null uint8
original_language_sr    3000 non-null uint8
original_language_sv    3000 non-null uint8
original_language_ta    3000 non-null uint8
original_language_te    3000 non-null uint8
original_language_tr    3000 non-null uint8
original_language_ur    3000 non-null uint8
original_language_vi    3000 non-null uint8
original_language_zh    3000 non-null uint8
status_Released         3000 non-null uint8
status_Rumored          3000 non-null uint8
dtypes: float64(6), uint8(38)
memory usage: 275.4 KB

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

In [207]:
# choose useful values for observation
test_x = test[['budget', 'popularity', 'runtime', 'release_date', 'original_language', 'status']]
# fill null values
test_x['release_date'].fillna(value='01-01-2000', inplace=True)
test_x.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4398 entries, 3001 to 7398
Data columns (total 6 columns):
budget               4398 non-null int64
popularity           4398 non-null float64
runtime              4394 non-null float64
release_date         4398 non-null object
original_language    4398 non-null object
status               4396 non-null object
dtypes: float64(2), int64(1), object(3)
memory usage: 240.5+ KB

In [208]:
# convert date to three integers: day, month, year
# fill nulls vith mean or mode
test_x['release_date'] = pd.to_datetime(test_x['release_date'])
test_x['release_y'] = test_x['release_date'].dt.year
test_x['release_m'] = test_x['release_date'].dt.month
test_x['release_d'] = test_x['release_date'].dt.day
test_x.drop(columns=['release_date'], inplace=True)
test_x['runtime'].fillna(value=test_x['runtime'].mean(), inplace=True)
test_x = pd.get_dummies(test_x)
test_x.fillna(0, inplace=True)
test_x.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4398 entries, 3001 to 7398
Data columns (total 48 columns):
budget                    4398 non-null int64
popularity                4398 non-null float64
runtime                   4398 non-null float64
release_y                 4398 non-null int64
release_m                 4398 non-null int64
release_d                 4398 non-null int64
original_language_af      4398 non-null uint8
original_language_bm      4398 non-null uint8
original_language_bn      4398 non-null uint8
original_language_ca      4398 non-null uint8
original_language_cn      4398 non-null uint8
original_language_cs      4398 non-null uint8
original_language_da      4398 non-null uint8
original_language_de      4398 non-null uint8
original_language_el      4398 non-null uint8
original_language_en      4398 non-null uint8
original_language_es      4398 non-null uint8
original_language_fi      4398 non-null uint8
original_language_fr      4398 non-null uint8
original_language_he      4398 non-null uint8
original_language_hi      4398 non-null uint8
original_language_hu      4398 non-null uint8
original_language_id      4398 non-null uint8
original_language_is      4398 non-null uint8
original_language_it      4398 non-null uint8
original_language_ja      4398 non-null uint8
original_language_ka      4398 non-null uint8
original_language_kn      4398 non-null uint8
original_language_ko      4398 non-null uint8
original_language_ml      4398 non-null uint8
original_language_nl      4398 non-null uint8
original_language_no      4398 non-null uint8
original_language_pl      4398 non-null uint8
original_language_pt      4398 non-null uint8
original_language_ro      4398 non-null uint8
original_language_ru      4398 non-null uint8
original_language_sr      4398 non-null uint8
original_language_sv      4398 non-null uint8
original_language_ta      4398 non-null uint8
original_language_te      4398 non-null uint8
original_language_th      4398 non-null uint8
original_language_tr      4398 non-null uint8
original_language_ur      4398 non-null uint8
original_language_xx      4398 non-null uint8
original_language_zh      4398 non-null uint8
status_Post Production    4398 non-null uint8
status_Released           4398 non-null uint8
status_Rumored            4398 non-null uint8
dtypes: float64(2), int64(4), uint8(42)
memory usage: 420.9 KB

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [209]:
# make sure test and train features are the same
train_x, test_x = train_x.align(test_x, join='outer', axis=1, fill_value=0)
train_x.fillna(0, inplace=True)
train_x.shape, test_x.shape

((3000, 53), (4398, 53))

In [210]:
# create Y matrix
train_y = train[['revenue']]
train_y.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3000 entries, 1 to 3000
Data columns (total 1 columns):
revenue    3000 non-null int64
dtypes: int64(1)
memory usage: 46.9 KB

In [211]:
# make sure all values are between -1 and 1
train_y = (train_y - train_y.mean()) / train_y.std()
train_x.insert(0, 'Ones', 1)
train_x.fillna(0, inplace=True)
train_x

,Ones,budget,original_language_af,original_language_ar,original_language_bm,original_language_bn,original_language_ca,original_language_cn,original_language_cs,original_language_da,...,original_language_xx,original_language_zh,popularity,release_d,release_m,release_y,runtime,status_Post Production,status_Released,status_Rumored
id,,,,,,,,,,,,,,,,,,,,,
1,1,-0.230414,0,0,0,0,0,0,0,0,...,0,0,-0.155972,0.573807,-1.400755,0.673114,-0.672880,0,1,0
2,1,0.471793,0,0,0,0,0,0,0,0,...,0,0,-0.017711,-1.047881,0.359233,-0.037444,0.232955,0,1,0
3,1,-0.519400,0,0,0,0,0,0,0,0,...,0,0,4.613080,-0.584541,0.945896,0.608518,-0.129379,0,1,0
4,1,-0.576116,0,0,0,0,0,0,0,0,...,0,0,-0.436908,-0.700376,-1.107423,0.479325,0.640581,0,1,0
5,1,-0.608526,0,0,0,0,0,0,0,0,...,0,0,-0.604363,-1.163715,-1.400755,0.285537,0.459414,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2996,1,-0.608526,0,0,0,0,0,0,0,0,...,0,0,0.114838,0.805477,-0.814092,-0.683406,-0.265254,0,1,0
2997,1,-0.608526,0,0,0,0,0,0,0,0,...,0,0,-0.391216,1.500486,-1.107423,0.543921,-0.265254,0,1,0
2998,1,1.146993,0,0,0,0,0,0,0,0,...,0,0,0.497279,-0.468706,0.945896,-0.554214,0.549997,0,1,0
2999,1,0.525809,0,0,0,0,0,0,0,0,...,0,0,0.599989,0.110468,-1.694086,-0.037444,-0.808756,0,1,0
3000,1,0.336754,0,0,0,0,0,0,0,0,...,0,0,0.169269,0.805477,0.652564,0.414729,-0.084087,0,1,0

In [212]:
# check if there are null values left
train_x.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3000 entries, 1 to 3000
Data columns (total 54 columns):
Ones                      3000 non-null int64
budget                    3000 non-null float64
original_language_af      3000 non-null int64
original_language_ar      3000 non-null uint8
original_language_bm      3000 non-null int64
original_language_bn      3000 non-null uint8
original_language_ca      3000 non-null int64
original_language_cn      3000 non-null uint8
original_language_cs      3000 non-null uint8
original_language_da      3000 non-null uint8
original_language_de      3000 non-null uint8
original_language_el      3000 non-null uint8
original_language_en      3000 non-null uint8
original_language_es      3000 non-null uint8
original_language_fa      3000 non-null uint8
original_language_fi      3000 non-null uint8
original_language_fr      3000 non-null uint8
original_language_he      3000 non-null uint8
original_language_hi      3000 non-null uint8
original_language_hu      3000 non-null uint8
original_language_id      3000 non-null uint8
original_language_is      3000 non-null int64
original_language_it      3000 non-null uint8
original_language_ja      3000 non-null uint8
original_language_ka      3000 non-null int64
original_language_kn      3000 non-null int64
original_language_ko      3000 non-null uint8
original_language_ml      3000 non-null uint8
original_language_mr      3000 non-null uint8
original_language_nb      3000 non-null uint8
original_language_nl      3000 non-null uint8
original_language_no      3000 non-null uint8
original_language_pl      3000 non-null uint8
original_language_pt      3000 non-null uint8
original_language_ro      3000 non-null uint8
original_language_ru      3000 non-null uint8
original_language_sr      3000 non-null uint8
original_language_sv      3000 non-null uint8
original_language_ta      3000 non-null uint8
original_language_te      3000 non-null uint8
original_language_th      3000 non-null int64
original_language_tr      3000 non-null uint8
original_language_ur      3000 non-null uint8
original_language_vi      3000 non-null uint8
original_language_xx      3000 non-null int64
original_language_zh      3000 non-null uint8
popularity                3000 non-null float64
release_d                 3000 non-null float64
release_m                 3000 non-null float64
release_y                 3000 non-null float64
runtime                   3000 non-null float64
status_Post Production    3000 non-null int64
status_Released           3000 non-null uint8
status_Rumored            3000 non-null uint8
dtypes: float64(6), int64(10), uint8(38)
memory usage: 509.8 KB

In [213]:
train_y

       revenue
id
1    -0.395625
2     0.206668
3    -0.389973
4    -0.368829
5    -0.456634
...        ...
2996 -0.473555
2997 -0.483852
2998  0.165277
2999  0.765184
3000  0.111692

[3000 rows x 1 columns]

In [214]:
# function to compute cost, returns single integer
# characterized by the parameters theta
def computeCost(X, y, theta):
    inner = np.power(((X * theta.T) - y), 2)
    return np.sum(inner) / (2 * len(X))

# function to compute gradient, returns theta and cost
# performs gradient descent on the parameters theta using the update rules.
def gradientDescent(X, y, theta, alpha, iters):
    temp = np.matrix(np.zeros(theta.shape))
    parameters = int(theta.ravel().shape[1])
    cost = np.zeros(iters)
    
    for i in range(iters):
        error = (X * theta.T) - y
        
        for j in range(parameters):
            term = np.multiply(error, X[:,j])
            temp[0,j] = theta[0,j] - ((alpha / len(X)) * np.sum(term))
            
        theta = temp
        cost[i] = computeCost(X, y, theta)
        
    return theta, cost

In [215]:
# convert values to matrix
train_x = np.matrix(train_x.values)
train_y = np.matrix(train_y.values)
theta = np.matrix(np.zeros(shape=(1,54)))

In [216]:
# computeCost(train_x, train_y, theta)

In [217]:
# calculate gradient
g, cost = gradientDescent(train_x, train_y, theta, 0.001, 10000)
g

matrix([[ 5.03715401e-04,  6.67723478e-01,  0.00000000e+00,
         -1.55218448e-04,  0.00000000e+00, -1.85356015e-05,
          0.00000000e+00,  1.92363412e-03,  1.10271401e-04,
          2.08241767e-04, -8.01332640e-04,  5.30992836e-04,
         -1.91644982e-03, -6.28692758e-04,  2.98422628e-04,
          1.17730171e-04, -1.08903978e-02, -9.33342842e-05,
         -1.12675311e-03, -9.04181533e-04, -8.58702770e-04,
          0.00000000e+00,  2.82408052e-03,  2.86630393e-03,
          0.00000000e+00,  0.00000000e+00, -1.22755777e-03,
          1.67860977e-04, -1.13789357e-04, -3.40724837e-04,
         -2.99044810e-04, -5.49095123e-04, -8.83794736e-05,
         -3.28199382e-03, -4.40454220e-04,  6.32715378e-03,
          2.30273150e-04, -5.82086334e-04, -1.74412725e-03,
         -9.73780406e-05,  0.00000000e+00,  3.44628827e-03,
          2.57974089e-04, -1.17490436e-04,  0.00000000e+00,
          7.47020802e-03,  2.30078432e-01,  1.77211447e-02,
         -2.26570437e-03, -2.66173829e-02,  2.88817250e-02,
          0.00000000e+00,  5.72531370e-05,  4.46462264e-04]])

In [218]:
computeCost(train_x, train_y, g)

0.19208604610487465

In [219]:
# get values ready for computation
test_x.insert(0, 'Ones', 1)
test_x.fillna(0, inplace=True)
test_x

,Ones,budget,original_language_af,original_language_ar,original_language_bm,original_language_bn,original_language_ca,original_language_cn,original_language_cs,original_language_da,...,original_language_xx,original_language_zh,popularity,release_d,release_m,release_y,runtime,status_Post Production,status_Released,status_Rumored
id,,,,,,,,,,,,,,,,,,,,,
3001,1,0,0,0,0,0,0,0,0,0,...,0,0,3.851534,14,7,2007,90.0,0,1,0
3002,1,88000,0,0,0,0,0,0,0,0,...,0,0,3.559789,19,5,2058,65.0,0,1,0
3003,1,0,0,0,0,0,0,0,0,0,...,0,0,8.085194,23,5,1997,100.0,0,1,0
3004,1,6800000,0,0,0,0,0,0,0,0,...,0,0,8.596012,4,9,2010,130.0,0,1,0
3005,1,2000000,0,0,0,0,0,0,0,0,...,0,0,3.217680,11,2,2005,92.0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7394,1,42000000,0,0,0,0,0,0,0,0,...,0,0,9.970359,3,8,2001,118.0,0,1,0
7395,1,19000000,0,0,0,0,0,0,0,0,...,0,0,6.046516,20,8,2004,95.0,0,1,0
7396,1,16000000,0,0,0,0,0,0,0,0,...,0,0,9.596883,8,12,1982,129.0,0,1,0
7397,1,2000000,0,0,0,0,0,0,0,0,...,0,0,20.359336,4,2,2015,100.0,0,1,0
7398,1,64000,0,0,0,0,0,0,0,0,...,0,0,11.305910,20,9,2062,85.0,0,1,0

In [226]:
# use formula to compute revenues
result = (np.dot(g, test_x.transpose())).transpose()
test = test_x.assign(revenue=result)
# revenue can only be positive
test_y = test[['revenue']]
test_y[test_y['revenue'] < 0] = test_y['revenue'].mean() * 0.05

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [227]:
# put result values in submission.csv
test_y.to_csv("submission.csv")
pd.read_csv("submission.csv").head()

     id       revenue
0  3001  4.969991e+01
1  3002  5.870791e+04
2  3003  4.801161e+01
3  3004  4.540472e+06
4  3005  1.335397e+06